@font-face {
    font-family: "ranobepop";
    src: url("ranobepop.otf");
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "ranobepop";
}

button {
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    letter-spacing: 0.1em;
}



html, body {
    overflow: hidden;
    border-radius: 3px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

html {
    background-color: rgba(0, 0, 0, 0.01);
}

body {
    background-color: rgb(30, 170, 157);
    color: white;
    padding: 8px;
}

button {
    color: white;
}

input[type=range] {
    width: 100%;
}

div.top-row {
    display: flex;
    flex-direction: row-reverse;
}

button, input, .audio-title {
  -webkit-app-region: no-drag;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: all;
    transition-duration: 0.15s;
    margin: 4px;
    padding: 4px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button.close-button {
    width: 16px;
    height: 16px;
    font-size: 8px;
    border: none;
    margin: 0;
    padding: 0;
}



div.file-row {
    font-size: 14px;
    display: flex;
    align-items: center;
}

div.top-row button.open {
    height: 9px;
    width: 9px;
    font-size: 9px;
}

.audio-title {
    flex-grow: 1.0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3) inset;
    padding: 6px;
}

.audio-title::before {
    content: "\00a0";
}

div.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

div.controls button {
    width: 2em;
    height: 2em;
}