@font-face {
    font-family: "ranobepop";
    src: url("ranobepop.otf");
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "ranobepop";
}

button {
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    letter-spacing: 0.1em;
}



html, body {
    overflow: hidden;
    border-radius: 3px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

html {
    background-color: rgba(0, 0, 0, 0.01);
}

body {
    background-color: rgb(30, 170, 157);
    color: white;
    padding: 8px;
}

button {
    color: white;
}

input[type=range] {
    width: 100%;
}

div.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

button, input, select, option, .audio-title {
  -webkit-app-region: no-drag;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: all;
    transition-duration: 0.15s;
    margin: 4px;
    padding: 4px;
    width: 2em;
    height: 2em;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button.close-button {
    width: 16px;
    height: 16px;
    font-size: 8px;
    border: none;
    margin: 0;
    padding: 0;
}



div.file-row {
    font-size: 14px;
    display: flex;
    
    align-items: center;
}

div.top-row button.open {
    height: 9px;
    width: 9px;
    font-size: 9px;
}

select.audio-title {
    flex-grow: 1.0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3) inset;
    padding: 6px;
    color: white;
    text-align-last: center;
    width: 100%;
}

select.audio-title option {
    text-align: center;
    background-color: rgb(15, 89, 76);    
}

.audio-title::before {
    content: "\00a0";
}

div.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

div.controls button {
    width: 2em;
    height: 2em;
}



div.spacer {
    width: 10px;
}

input[type="range"].volume {
    width: 100px;
    flex-grow: 1.0;
    flex-shrink: 1.0;
}



option span.audio-title {
    text-align: left;
}

option span.duration {
    width: 100px;
    flex-grow: 1.0;
    flex-shrink: 1.0;
    text-align: right;
}

span.position {
    width: 4em;
    text-align: right;
}



div.timeline {
    display: flex; 
}


/* http://www.cssportal.com/style-input-range/ */
input[type=range] {
  -webkit-appearance: none;
  margin: 4px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #204A40;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 29px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #204A40;
}




select {
    -webkit-appearance: none;
    appearance: none;
}

select::-webkit-scrollbar {
  width: 5px;
}
 
select::-webkit-scrollbar-thumb {
  background: #ddd; 
}

select::-webkit-scrollbar-track {
  background: #666; 
}